<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>

  <meta name="description" content="PyCon UK {{ site.con_start }} to {{ site.con_finish }} {{ site.con_year }}, {{ site.con_location }}">
  
  <meta http-equiv="X-Clacks-Overhead" content="GNU John Pinner" /> 
  <meta http-equiv="X-Clacks-Overhead" content="GNU Russel Winder" /> 
  <meta http-equiv="X-Clacks-Overhead" content="GNU Michael Foord" /> 

  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
  <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/atom.xml">

  <link rel="stylesheet" href="/theme/style.css">
</head>
