---
---
@import "fonts.scss";
@import "mixins.scss";

$red: #e31c22;
$yellow: #fecb2f;
$blue: #007bff;
$darkblue: #0020ee;
$bronze: #cd7f32;
$silver: #c0c0c0;
$darkgrey: #303030;

$default-padding: 1em;
$max-width: 800px;

body {
  margin:  0;
  padding: 0;
  background: $yellow;
  line-height: 1.6;
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

main {
  background: white;

  #main_inner {
    @include central_element();
  }

  @media screen {
    // For the footer
    padding-bottom: 10vw;
  }

  @media print {
    page-break-after: none;
  }

  h1, h2, h3, h4, h5, .button {
    font-family: Raleway;
  }
}

a {
  @include link_styles($darkblue, 0.3);
}

span.warning {
  padding-inline: 0.2em;

  background: $yellow;
}

.button {
  border-radius: 2px;
  padding: $default-padding / 2 $default-padding;

  background: darken($darkblue, 10%);
  color: white;

  font-weight: bold;
  text-decoration: none;

  &:hover {
    background: $darkblue;
  }

  &.block {
    display: inline-block;
    margin-bottom: $default-padding;
  }
}

.dot_list {
  list-style-type: none;
  padding-left: 0px !important;

  // Ensure they all display in a line
  li {
    display: inline;
    &:not(:first-child)::before {
      content: " · ";
    }
  }
}

img {
  // Image styling as recommended by Harry Roberts (@csswizardry)
  max-width: 100%;
  height: auto;

  shape-margin: 0.75rem;

  background-repeat: no-repeat;
  background-size: cover;

  vertical-align: middle;

  font-style: italic;
}

figure {
  margin: 0;
  max-width: 100%;

  img {
    max-width: 100%;
  }

  figcaption {
    font-size: small;
    color: $darkgrey;

    a {
      @include link_styles($darkblue, 0.3);
    }
  }
}

@media (min-width: 600px) {
  figure.floor-plan {
    margin-inline: auto;
    max-width: 70%;

    figcaption {
      text-align: center;
    }
  }
}

@media print {
  .slide {
    page-break-after: always;
  }

  .noprint {
    display: none;
  }

  div:last-of-type {
    page-break-after: none;
  }
}

@import "header.scss";
@import "footer.scss";
@import "columns.scss";
@import "snakes.scss";
